{% extends "base.html" %}

{% block content %}

<h1>Account Details</h1>

{% if current_user.is_authenticated %}

<p>{{current_user.firstname}} {{current_user.lastname}} </p>
<p>{{current_user.email}}</p>
<p>{{current_user.street1}}</p>
<p>{{current_user.street2}}</p>
<p>{{current_user.city}}, {{current_user.state}} {{current_user.zip}} </p>
<p><a href="{{ url_for('users.accountdetails') }}"><button>Update Information</button></a></p>
<p><a href="{{ url_for('users.updatepassword') }}"><button>Change Password</button></a></p>

{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your account details!</p>
{% endif %}

{% endblock %}