{% extends "base.html" %}

{% block content %}

<br>
<a href="{{ url_for('index.index') }}"><button>Back</button></a>
        <a style="float:right" id="submissionlink" href="{{ url_for('products.addtocart', pid=product.id, sid=product.sellerID, quantity=1) }}" type="submit"><button onclick="addAttribute()">Add to Cart</button></a>
        <script>
            function addAttribute() {
                document.getElementById("submissionlink").href = document.getElementById("submissionlink").href.substring(0,document.getElementById("submissionlink").href.length-1) + "/" + document.getElementById("theQuantity").value;
            }
        </script>
<p></p>
<h2>Product Details</h2>
<div class="container py-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <ul class="list-group shadow">
                <li class="list-group-item">
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2">{{product.name}}</h5>
                            <h6><u>Product ID</u>: {{product.id}}</h6>
                            <h6><u>Category</u>: {{product.category}}</h6>
                            <h6><u>Rating</u>: {{product.rating}}</h6>
                            <h6><u>Description</u>: {{product.description}}<h6>
                            <p><span class="mb-0 medium" style="color:gray">Price: </span><span class="mb-0 medium" style="color:#8b0000">${{product.price}}</span></p>
                            <div class="d-flex align-items-center justify-content-between mt-1"></div>
                        </div><img src={{product.image}} alt="Generic placeholder image" width="400" class="ml-lg-5 order-1 order-lg-2">
                    </div> 
                </li> 
            </ul> 
        </div>
    </div>
</div>

<br></br>
<h3>Seller Information and Quantity</h3>
        <table class="table table-bordered mt-3">
          <thead class="thead-dark">
            <tr>
              <th scope="row" class="w-150 dark-grey-text h6">Seller ID</th>
              <th scope="row" class="w-150 dark-grey-text h6">Seller Name</th>
              <th scope="row" class="w-150 dark-grey-text h6">Amount in Stock</th>
              <th scope="row" class="w-150 dark-grey-text h6">Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><p><a href="{{ url_for('users.userdetails', uid=product.sellerID) }}">{{product.sellerID}}</a></p></td>
              <td width="25%" scope="row" class="w-150 dark-grey-text h6">{{product.sellerName}}</td>
              <td width="25%" scope="row" class="w-150 dark-grey-text h6">{{product.Inventory}}</td>
              <td width="25%" scope="row" class="w-150 dark-grey-text h6">
              <input id="theQuantity" type="number" value="1" min="1" max="{{product.Inventory}}">
              </td>
            </tr>
          </tbody>
        </table>

   <br></br>   
   <h1>Product Reviews:</h1>
   {% if review %}
       <table class="table table-bordered mt-3">
           <thead class="thead-dark">
             <tr>
               <th scope="row" class="w-150 dark-grey-text h6">Review Date</th>
               <th scope="row" class="w-150 dark-grey-text h6">Rating</th>
               <th scope="row" class="w-150 dark-grey-text h6">Review</th>
               <th scope="row" class="w-150 dark-grey-text h6">Reviewer</th>
               <th scope="row" class="w-150 dark-grey-text h6">Votes</th>
             </tr>
           </thead>
           {% for rev in review%}
           <tbody>
               <td width="50%" scope="row" class="w-150 dark-grey-text h6">{{rev.DateTime}}</td>
               <td width="25%" scope="row" class="w-150 dark-grey-text h6">{{rev.rating}}</td>
               <td width="25%" scope="row" class="w-150 dark-grey-text h6">{{rev.review}}</td>
               <td width="25%" scope="row" class="w-150 dark-grey-text h6">{{rev.firstname}}</td>
               <td> <body>
                <script src = "https://kit.fontawesome.com/5708ed03ed.js" crossorigin = "anonymous" ></script>
            
                <div class = "votContainer">
                  <div class = "upbutton">
                    <i class = "fas fa-chevron-up"></i>
                  </div>
                  <div class = "vot">
                    <p> {{rev.numVotes}}</p>
                  </div>
                  <div class = "downbutton">
                    <i class = "fas fa-chevron-down"></i>
                  </div>
                </div>
              </body></td>
               
             </tr>
           </tbody>
           {% endfor %}
         </table>

   {% endif %}
   {% if not review %}
   <p>This product has not been reviewed yet!<p>
   {% endif %}

  <br>
  <h3>Leave a Review</h3>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.name.label }}<br/>
      {{ form.name(size=32) }}<br/>
      {% for error in form.name.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      </p>
      <p>
      {{ form.email.label }}<br/>
      {{ form.email(size=32) }}<br/>
      {% for error in form.email.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      </p>
      <p>
        {{ form.review.label }}<br/>
        {{ form.review(rows='10',cols='100') }}<br/>
        {% for error in form.review.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        </p>
      <p>{{ form.submit() }}</p>
  </form>

{% endblock %}