{% extends "base.html" %}

{% block content %}

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/cart.css">
</head>

{% if current_user.is_authenticated %}

<p><a href="{{ url_for('products.inventory') }}"><button>Back</button></a></p>

{% if current_user.id != product.sellerID%}
<p style="color:#FF0000" class=error><strong>Error:You cannot edit a product you did not create</strong>
{% endif %}

<h3>Current Product Information</h3>
<p>ID: {{product.id}}</p>
<p>Name: {{product.name}}</p>
<p>Description: {{product.description}}</p>
<p>Inventory: {{product.Inventory}}</p>
<p>Unit Price: {{product.unitPrice}}</p>
<p>Category: {{product.category}}</p>
<p>Image: {{product.image}}</p>

{% if current_user.id == product.sellerID%}

<h1>Update Product</h1>
{% if error %}
<p style="color:#FF0000" class=error><strong>Error:</strong> {{ error }}
{% endif %}


<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.name.label }}<br/>
    {{ form.name(size=32) }}<br/>
    {% for error in form.name.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.description.label }}<br/>
    {{ form.description(size=32) }}<br/>
    {% for error in form.description.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.category.label }}<br/>
    {{ form.category(size=6) }}<br/>
    {% for error in form.category.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.unitPrice.label }}<br/>
    {{ form.unitPrice(size=32) }}<br/>
    {% for error in form.unitPrice.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.num_products.label }}<br/>
    {{ form.num_products(size=32) }}<br/>
    {% for error in form.num_products.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.image.label }}<br/>
    {{ form.image(size=32) }}<br/>
    {% for error in form.image.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.update() }}</p>
</form>
{% endif %}

{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to edit product!</p>

{% endif %}
{% endblock %}