{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en" >
{% block content %}

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/cart.css">
</head>

<body>
<h1>Products for Sale</h1>
<form class="form-inline my-2 my-lg-0" action="{{ url_for('products.search') }}">
  <input class="form-control mr-sm-2" name="c" type="search" placeholder="Search category" aria-label="Search">
  <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search keyword" aria-label="Search">
  <select class="form-control mr-sm-2" name="s">
    <option value="N/A">Sort by featured</option>
    <option value="Low">Price: low to high</option>
    <option value="High">Price: high to low</option>
    <option value="idlow">Product ID: low to high</option>
    <option value="idhigh">Product ID: high to low</option>
    <option value="quantlow">Quantity: low to high</option>
    <option value="quanthigh">Quantity: high to low</option>
  </select>
  <select class="form-control mr-sm-2" name="p">
    <option value="N/A">Filter by price</option>
    <option value="0">$0 - $100</option>
    <option value="100">$100 - $200</option>
    <option value="200">$200 - $300</option>
    <option value="300">$300 - $400</option>
    <option value="400">$400 - $500</option>
    <option value="over">Over $500</option>
  </select>
  <button style="color:#007bff; border:1px solid#007bff" class="btn my-2 my-sm-0" type="submit">Submit</button>
</form>
<br><br><br>
<div class="shopping-cart">
  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-description">Description</label>
    <label style="float:right" class="product-category">Category</label>  
  </div>
  {% for product in products%}
    {% if product.Inventory > 0 %}
    <div id="click" onclick="window.location.href='{{ url_for('products.detailview', id=product.id) }}'">
      <div id="click" class="product">
        <div class="product-image">
          <img style="float:left" src={{product.image}}>
        </div>
        <div class="product-details">
          <div class="product-title">{{product.name}}</div>
          <p class="product-id">Product ID: {{product.id}}</p>
        </div>
        <div class="product-price">{{product.price}}</div>
        <div class="product-description">{{product.description}}</div>
        <div style="float:right" class="product-category">{{product.category}}</div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>

{{ pagination.links }}

<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script  src="app/models/scripts/cart.js"></script>
{% endblock %}
</body>
</html>