{% extends "base.html" %}

{% block content %}


{% if avail_inventory == [] or not current_user.is_authenticated %}
<h2>You do not have any listed items</h2>
<h3>Go to the 'List' tab to list a product</h3>
{% else %}

<h1>Inventory</h1>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th width="20%" scope="col">Product ID</th>
      <th width="30%" scope="col">Product Name</th>
      <th width="30%" scope="col">Amount in Stock</th>
      <th width="20%" scope="col">Remove</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_inventory%}
      <tr>
        <th scope="row">{{product.pid}}</th>
        <td>{{product.name}}</td>
        <td>
          <div class="product-quantity">
          <input type="number" value="{{product.num_in_stock}}" min="1">
          <button class="update">Update</button>
        <td>
          <a id="submissionlink" href="{{ url_for('products.removeinventory', pid=product.pid) }}" type="submit"><button onclick="removeInventory()">Remove</button></a>
          <script>
              function removeInventory() {
                  document.getElementById("submissionlink").href = document.getElementById("submissionlink").href.substring(0,document.getElementById("submissionlink").href.length-1) + "/" + document.getElementById("theQuantity").value;
              }
          </script>
      </td>
      </tr>
    {% endfor %}
</tbody>
</table>
{% endif %}

{% endblock %}
