{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en" >
{% block content %}

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/cart.css">
</head>

{% if avail_inventory == [] or not current_user.is_authenticated %}
<h2>You do not have any listed items</h2>
<h3>Go to the 'List' tab to list a product</h3>
{% else %}

<body>
<h1>Inventory</h1>
<br><br><br>
<div class="shopping-cart">
  <div class="column-labels">
    <label style="float:left" class="product-id">Product ID</label>
    <label style="float: left; position: relative; left: 330px" class="product-title">Product Name</label>
    <label style="float: left; position: relative; left: 660px" class="product-quantity">Amount in Stock</label>
    <label style="float:right" class="product-removal">Remove</label>  
  </div>
  {% for product in avail_inventory%}
  <div class="product">
    <div class="product-id">{{product.pid}}</div>
    <div style="float: left; position: relative; left: 403px" class="product-title">{{product.name}}</div>
    <div style="float: left; position: fixed; left: 843px" class="product-quantity">
      <input type="number" value="{{product.num_in_stock}}" min="1">
      <button class="update">Update</button>
    </div>
    <div style="float:right" class="product-removal">
      <a id="submissionlink" href="{{ url_for('products.removeinventory', pid=product.pid) }}" type="submit"><button onclick="removeInventory()">Remove</button></a>
          <script>
              function removeInventory() {
                  document.getElementById("submissionlink").href = document.getElementById("submissionlink").href.substring(0,document.getElementById("submissionlink").href.length-1) + "/" + document.getElementById("theQuantity").value;
              }
          </script>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script  src="app/models/scripts/cart.js"></script> 
{% endblock %}
</body>
</html>

