{% extends "base.html" %}

{% block content %}

<br><br>


{% if avail_inventory == [] or not current_user.is_authenticated %}
<h2>You do not have any listed items</h2>
<h3>Go to the 'List' tab to list a product</h3>
{% else %}

<h2>Inventory:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Amount in Stock</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_inventory%}
      <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>
          <div class="product-quantity">
          <input type="number" value="{{product.num_in_stock}}" min="1">
          <button class="update">Update</button>
        <td>
          <button class="remove-product">
            Remove
          </button>
      </td>
      </tr>
    {% endfor %}
</tbody>
</table>
{% endif %}

{% endblock %}
