<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="{{ url_for('index.index') }}">PRODUCTS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('products.create') }}">LIST</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SELLERS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="nav-link" href="{{ url_for('products.inventory') }}">INVENTORY</a>
          <a class="nav-link" href="{{ url_for('products.orders') }}">ORDERS</a>
          <a class="nav-link" href="{{ url_for('products.sellerAnalytics') }}">ANALYTICS</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          CART
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="nav-link" href="{{ url_for('products.displaycart')}}">CART</a>
          <a class="nav-link" href="{{ url_for('products.savedForLater') }}">SAVED ITEMS</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ACCOUNT
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="nav-link" href="{{ url_for('users.accountdetails') }}">ACCOUNT DETAILS</a>
          <a class="nav-link" href="{{ url_for('users.accountbalance') }}">ACCOUNT BALANCE</a>
          <div class="dropdown-divider"></div>
          <a class="nav-link" href="{{ url_for('users.spendinghistory') }}">SPENDING HISTORY</a>
          <a class="nav-link" href="{{ url_for('users.orderhistory') }}">ORDER HISTORY</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
