{% extends "base.html" %}
{% block content %}
<div style="display: flex; align-items: center;flex-direction: column;">
    <h1 class="mb-4 mt-4">Your order has been placed</h1>
    <div> <i class="fas fa-clipboard-check fa-10x" style="color: green;"></i></div>


    <div class="mt-5">
        <a type="button" class="btn btn-primary" href="{{url_for('products.displaycart')}}">Back To Cart</a>
        <a type="button" class="btn btn-primary" href="{{url_for('users.orderhistory')}}">See Order Here</a>
    </div>
 </div>
{% endblock %}
