{% extends "base.html" %}

{% block content %}

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/cart.css">
</head>

<h1>Update Contact Information</h1>

{% if error %}
    <p style="color:#FF0000" class=error><strong>Error:</strong> {{ error }}
{% endif %}

<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.firstname.label }}<br/>
    {{ form.firstname(size=32) }}<br/>
    {% for error in form.firstname.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.lastname.label }}<br/>
    {{ form.lastname(size=32) }}<br/>
    {% for error in form.lastname.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.street1.label }}<br/>
    {{ form.street1(size=64) }}<br/>
    {% for error in form.street1.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.street2.label }} (Optional)<br/>
    {{ form.street2(size=64) }}<br/>
    {% for error in form.street2.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.city.label }}<br/>
    {{ form.city(size=64) }}<br/>
    {% for error in form.city.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.state.label }}<br/>
    {{ form.state(size=64) }}<br/>
    {% for error in form.state.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
      <p>
    {{ form.zip.label }}<br/>
    {{ form.zip(size=32) }}<br/>
    {% for error in form.zip.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
</form>
<a href="{{ url_for('users.accountdetails') }}"><button>Cancel</button></a>


{% endblock %}
