{% extends "base.html" %}

{% block content %}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/cart.css">
</head>


{% if page!=None %}
<br>
<a href="{{ url_for('index.index') }}"><button>Back</button></a>
<h1>User Details:</h1>
<p>{{page.firstname}} {{page.lastname}}</p>
<p>User ID: {{page.id}}</p>

{% if seller %}
    <h1>Seller Information:</h1>
    <p>{{page.email}}</p>
    <p>{{page.street1}}</p>
    {% if page.street2 %}
    <p>{{page.street2}}</p>
    {% endif %}
    <p>{{page.city}}, {{page.state}} {{page.zip}} </p>

    <h1>Seller Reviews:</h1>
    {% if review %}
        <table class="table table-bordered mt-3">
            <thead class="thead-dark">
              <tr>
                <th scope="row" class="w-150 dark-grey-text h6">Review Date</th>
                <th scope="row" class="w-150 dark-grey-text h6">Rating</th>
                <th scope="row" class="w-150 dark-grey-text h6">Review</th>
                <th scope="row" class="w-150 dark-grey-text h6">Reviewer</th>
                <th scope="row" class="w-150 dark-grey-text h6">Votes</th>
              </tr>
            </thead>
            {% for rev in review%}
            <tbody>
                <td width="25%" scope="row" class="w-150 dark-grey-text h6">{{rev.DateTime}}</td>
                <td width="25%" scope="row" class="w-150 dark-grey-text h6">{{rev.rating}}</td>
                <td width="25%" scope="row" class="w-150 dark-grey-text h6">{{rev.review}}</td>
                <td width="25%" scope="row" class="w-150 dark-grey-text h6">{{rev.firstname}}<p></p>
                 {% if user == rev.uid %}
                 <a href="{{ url_for('users.userdetails' , uid=page.id)}}" type="button" class="btn btn-dark">Edit</a> 
                {% endif %}</td>
                <td> <body>
                 <script src = "https://kit.fontawesome.com/5708ed03ed.js" crossorigin = "anonymous" ></script>
                 
                 <div class = "votContainer">
                   <a id="{{rev.sid + rev.uid}} up" href="{{ url_for('users.upVotes', sid=rev.sid, numVotes=rev.numVotes, uid = rev.uid)}}" 
                   type="submit">
                       <i class = "fas fa-chevron-up" role="button"></i></a>
                   <div class = "vot">
                     <p> {{rev.numVotes}}</p>
                   </div>
                   <a id="{{rev.sid + rev.uid}} down" href="{{ url_for('users.downVotes', sid=rev.sid, numVotes=rev.numVotes, uid = rev.uid)}}" 
                   type="submit"><i class = "fas fa-chevron-down"></i></a>
                 </div>
                
               </body></td>
              </tr>
             </tbody>
            {% endfor %}
          </table>
 
    {% endif %}
   

{% endif %}
{% if not review %}
<p>This product has not been reviewed yet!<p>
 
{% endif %}

{% if availBought and availNew %}
    <a class="btn btn-secondary" href="{{ url_for('products.review', id=product.id)}}" role="button">Leave a Review</a>
   {% endif %}
  <br>
{% endif %}


{% if page==None %}
<h3>Error: you have requested information for an invalid page</h3>

{% endif %}


{% endblock %}